*.[oad]
.gitignore
.tup/
build-default/
kmer/Linux-amd64/
kmer/Make.compilers
kmer/Make.rules
kmer/Makefile
kmer/kmer
kmer/libkmer/existDB
kmer/libkmer/mask
kmer/libkmer/percentCovered
kmer/libkmer/positionDB
kmer/libseq/test-merStream
kmer/libseq/test-seqCache
kmer/libseq/test-seqStream
kmer/libutil/mt19937ar/diffs
kmer/libutil/mt19937ar/mt19937ar-test
kmer/libutil/mt19937ar/test.c
kmer/makepath
kmer/meryl/asmMerQC
kmer/meryl/mapMers
kmer/meryl/mapMers-depth
kmer/meryl/maskMers
kmer/meryl/meryl
kmer/meryl/testPositionBias
